* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    overflow: auto;
}

#sidebar {
    position: relative;
    display: inline-block;
    height: 100%;
}

.sidebar-content {
    height: 100%;
}

.about-me{
    margin-top: 20px;
}

.tag-panel{
    margin-top: 20px;
}

#main {
    display: inline-block;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.main-content{

}

@media screen and (max-width: 900px){
    #sidebar{
        display: none;
    }
}
