{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog For X</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
{% endblock %}

<body>
    <div class="wrapper">
        <div class="main">
            <nav class="navbar" style="background-color: rgba(106,110,113,0.2);margin-top: 20px">
                <a class="navbar-brand" href="{{ url_for("index.index") }}">
                    <img src="{{ url_for('static', filename='image/logo.png') }}" width="207" height="57" alt="">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a class="nav-link" style="font-size: 1.2em">Link1</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 1.2em">Link2</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 1.2em">Link3</a></li>
                </ul>
            </nav>
            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="sidebar">
            {% include "sidebar.html" %}
        </div>
    </div>
</body>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
