{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="slideshow" style="background: url({{ url_for('static', filename='image/header-bg.jpg') }}) center center no-repeat;background-size: cover">
            Demo Slideshow.
        </div>
        <div class="latest-list">
            <div style="background-color: #20c997;width: 44%;margin-left: 4%;">
                Article
            </div>
            <div style="background-color: #c82333;width: 44%;margin-left: 4%;">
                Article
            </div>
        </div>
    </div>
{% endblock %}
