<nav>
    <div id="popular">
        <hr>
        <div class="popular-article">
            <div class="pre-img">
                <img src="{{ url_for('static', filename='image/test1.jpg') }}" alt="article-img" style="width: 100%">
            </div>
            <div class="article">
                <div class="title">
                    <span>Python多线程</span>
                </div>
                <div class="date">
                    2018/12/21
                </div>
            </div>
        </div>
        <hr>
        <div class="popular-article">
            <div class="pre-img">
                <img src="{{ url_for('static', filename='image/test2.jpg') }}" alt="article-img" style="width: 100%">
            </div>
            <div class="article">
                <div class="title">
                    <span>Python装饰器</span>
                </div>
                <div class="date">
                    2018/12/21
                </div>
            </div>
        </div>
        <hr>
        <div class="popular-article">
            <div class="pre-img">
                <img src="{{ url_for('static', filename='image/test3.jpg') }}" alt="article-img" style="width: 100%">
            </div>
            <div class="article">
                <div class="title">
                    Python多线程
                </div>
                <div class="date">
                    2018/12/21
                </div>
            </div>
        </div>
        <hr>
        <div class="popular-article">
            <div class="pre-img">
                <img src="{{ url_for('static', filename='image/test4.jpg') }}" alt="article-img" style="width: 100%">
            </div>
            <div class="article">
                <div class="title">
                    Python装饰器
                </div>
                <div class="date">
                    2018/12/21
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="about-me">
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='image/home-bg.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center"><b>关于本站</b></h6>
                <p class="card-text">分享日常学习中的一些记录文档。</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-github fa-lg"></i>&nbsp;<a>Github</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i>&nbsp;<a>Email：xf930723@163.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tag-panel">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-th-large">&nbsp;&nbsp;所有标签</i>
            </div>
            <div class="card-body">
                <a class="badge badge-pill">Python &nbsp;<span class="badge badge-light">9</span></a>
                <a class="badge badge-pill">C++ &nbsp;<span class="badge badge-light">8</span></a>
                <a class="badge badge-pill">Java &nbsp;<span class="badge badge-light">7</span></a>
                <a class="badge badge-pill">C# &nbsp;<span class="badge badge-light">6</span></a>
                <a class="badge badge-pill">Javascript &nbsp;<span class="badge badge-light">5</span></a>
                <a class="badge badge-pill">Ruby &nbsp;<span class="badge badge-light">4</span></a>
            </div>
        </div>
    </div>
</nav>
