<nav class="col-md-3 sidebar">
    <div class="about-me">
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='image/card_top.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center"><b>关于本站</b></h6>
                <p class="card-text">日常学习中的一些记录文档，分享出来大家互相学习，互相指教。</p>
                <i class="fa fa-github fa-lg"></i>&nbsp;<a>Github</a>

            </div>
        </div>
    </div>
</nav>
